<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add new</title>
</head>
<body>
    
    <h5>Add Message to AI</h5>
    <form method="post" action="/posts">
    
        <h4>Enter name</h4>
        <input type="text" placeholder="Enter your name" name="name" />
        <br><br><br>
        <h4>Enter message</h4>
        <textarea type="text" placeholder="Enter msg" name="msg" ></textarea>
        <button>Submit</button>
    </form>

</body>
</html>