<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single page</title>
</head>
<body>
    <h1>Detail of Post</h1>
    <h3>id is:<%=post.id %></h3>
    <p>Name is :<%=post.name %></p>
    <p>Msg is : <%=post.msg %></p>
</body>
</html>